{% extends "navbar/navbar.html" %}

{% block content %}

    <link href="/sd/style.css" rel="stylesheet" type="text/css">
  </head>

<body>
<div id=meetupslogo>
  <img src="/sd/meetups_withtext.png" id="meetupslogo">
</div>

  <div id= "particles-js"><canvas class="particles-js-canvas-el" width="1000" height="900" style="width: 100%; height: 100%;"></div>

  <script src="/sd/particles.min.js"></script>
  <script src="/sd/particles.js"></script>
  <script src="/sd/app.js"> </script>


<audio hidden controls autoplay loop id="bgAudio">
  <source src="auds.mp3">
  <source src="auds.ogg">
    Your browser does not support audio.
</audio>

</body>
<div class="jumbotron jumbotron-fluid" id="need_a_mentor_page">
<h4>
  <br/>
  <marquee behavior="alternate">
<b>
  <i>
    Need Help?
  </i>
</b>
</marquee>
<br/>
<br/>
</h4>
<h3>
<p>
   That's why we are here. A mentor can help you learn or accelerate within a variety of topics in our registry. We also help mentors find students just like you that are looking for their skill set. This database of students and mentors helps connect the two in public locations. We use these public places like a library or a local school to prevent possible issues.
</p>
</h3>
</div>

{% endblock %}


